.wrap-about {
    width: 100%;
    min-height: 600px;
    background-color: rgb(15, 5, 49);
    color: white;
    text-align: center;
    padding-top: 3em;
}

.wrap-about-text {
    margin: 2em;

}

.about-header,
.contacts {
    color: #56f10e;
}

.tel {
    color: blue;
}