<div class="wrap-about">
    <h1 class="about-header">Информация о нас</h1>
    <h2>Принципы нашей кухни</h2>
    <div class="wrap-about-text">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eius quod dicta eligendi ratione eveniet at
            deserunt ad quibusdam nam! Voluptatem, praesentium? Assumenda at officia explicabo vero aperiam deserunt
            minima.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolorum sit a vero? Hic quos maiores sequi cum,
            totam placeat, quas saepe vero corrupti architecto alias ex ratione, nihil error!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam modi nemo minus quo optio saepe maxime sequi
            est
            veritatis praesentium iusto blanditiis voluptate accusamus fugiat consequatur nihil ipsam, suscipit nobis!
        </h3>
    </div>
    <div>
        <h2 class="contacts">Наши контакты</h2>
        <h3>г.Днепр</h3>
        <h3>пр.Ивана Мазепы</h3>
        <a href="tel:+38(000)111 2 333">Позвоните нам!</a>
        <h3 class="tel">тел. +38(000)111 2 333 </h3>
    </div>
</div>