<div class="header">
    <div class="wrap-head">
        <div class="img-cook"></div>
        <ul class="container-li">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/menu">Menu</a></li>
            <li routerLinkActive="active"><a routerLink="/about">About</a></li>
            <li routerLinkActive="active"><a routerLink="/cart">Cart</a></li>
        </ul>
        <div class="img-basket-wrap" routerLink="/cart">
            <!-- <div class="amount">{{this.amount}}</div> -->
            <img class="img-basket" src="assets/images/3507742_cart_ecommerce_grocery_iconoteka_shop_icon.png">
        </div>
    </div>

    <div class="head-text-wrap">
        <p class="headText"> Welcome to "my cafe"!</p>
        <p class="headText-H2"> Приятного аппетита! </p>
        <p class="headText-H3">(Сайт создан для тестов и не продает товары и услуги ! )</p>
    </div>

</div>
<router-outlet></router-outlet>